*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image: rgb(243, 243, 243, 0.4);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.instagram-wraper{
 
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}
.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.instagram-phone img{
    height: 50rem;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-width: 34rem;
}
.grupo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    margin: 0.90rem;
    padding: 1.3rem 0 ;
    border: 1px solid lightgray;
}
.grupo:nth-child(1){
    min-height: 19rem;
}
.instagram-logo {
    height: 3rem;
}
.foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    overflow: hidden;
}
.foto-perfil img{
    height: 6rem;
}
.login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.logout {
    color: #0095f6;
    margin-top: 1rem;
}


.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}
.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}
.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url("img/apple-button.png");
}

.app-download:nth-child(2) {
    background-image: url('img/googleplay-button.png');
}

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .grupo {
        border: 1px solid transparent;
    }
} 